<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Auction</title>
	<link rel="stylesheet" href="css/angular-material.css">
	<link rel="stylesheet" href="css/table-materialize.css">
	<link rel="stylesheet" href="ex_css/index/users.css">
	<link rel="stylesheet" href="ex_css/index/profile.css">
	<link rel="stylesheet" href="css/material-fonts.css">
</head>
<body ng-app="nav">

	<div id="nav" ng-controller="nav as ctrl" layout="row" class="md-hue-2" ng-cloak>
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<md-button ng-click="openLeftMenu()"><md-icon ng-bind="'menu'"></md-icon></md-button>
				<h2 flex md-truncate>Auction</h2>
			</div>
		</md-toolbar>
		<md-sidenav md-component-id="left" class="md-sidenav-left">
			<p ng-repeat="x in nav_items">
				<md-button ng-click="openLeftMenu()" href={{x.href}}>
					<md-icon ng-bind="x.icon"></md-icon>
					<md-tooltip>{{x.name}}</md-tooltip>
				</md-button>
			</p>
		</md-sidenav>
	</div>


	<div id="main">
		<div ng-view></div>
	</div>

	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-animate.js"></script>
	<script src="js/angular-aria.js"></script>
	<script src="js/angular-message.js"></script>
	<script src="js/angular-material.js"></script>
	<script src="ex_js/utils.js"></script>
	<script src="ex_js/index/users/add_user.js"></script>
	<script src="ex_js/index/users/change_password.js"></script>
	<script src="ex_js/index/users/profile.js"></script>
	<script src="ex_js/index/items/add_item.js"></script>
	<script src="ex_js/index/items/item.js"></script>
	<script src="ex_js/index/items.js"></script>
	<script src="ex_js/index/auctions/add_auction.js"></script>
	<script src="ex_js/index/auctions/auction.js"></script>
	<script src="ex_js/index/auctions.js"></script>
	<script src="ex_js/index/users.js"></script>
	<script src="ex_js/index/script.js"></script>
</body>
</html>