<md-dialog arial-label="Change password">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>Change password</h1>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content my_dialog">
            <form name="change_password">
                <h3>Email: {{user.email}}</h3>
                </br>
                <md-input-container class="md-block">
                    <label class="md-headline">Old password</label>
                    <input required ng-model="user.oldPassword"
                           ng-change="check_password(change_password)"
                           type="password" maxlength="10" md-maxlength="10"  />
                    <div ng-messages="change_password.oldPassword.$error" role="alert">
                        <div ng-message-exp="['required' ,'maxlength']">
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="md-headline">Password</label>
                    <input required ng-model="user.password"
                           ng-change="check_password(change_password)"
                           type="password" maxlength="10" md-maxlength="10"  />
                    <div ng-messages="change_password.password.$error" role="alert">
                        <div ng-message-exp="['required' ,'maxlength']">
                        </div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="save_password()" class="md-fab md md-primary"
            ng-show="btn_save_password">
            <md-icon ng-bind="'save'"></md-icon>
            <md-tooltip>Save password</md-tooltip>
        </md-button>
    <md-button ng-click="cancel()" class="md-fab">
        <md-icon ng-bind="'cancel'"></md-icon>
        <md-tooltip>Cancel</md-tooltip>
    </md-button>
    </md-dialog-actions>
</md-dialog>