<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="info">
            <form name="edit_form">
                <md-content class="md-padding info_user">
                    <div layout-gt-sm="row">
                        <img class="profile_image" ng-src="{{user.picture}}">
                        <md-input-container class="md-block">
                            <label class="md-headline">ID</label>
                            <input class="md-headline" ng-model="user.id" disabled>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label class="md-headline">Email</label>
                            <input class="md-headline" ng-model="user.email" disabled>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-select ng-model="user.role"
                                       ng-disabled="data.show.disable_change_role">
                                <md-option value="admin"> Admin </md-option>
                                <md-option value="owner"> Owner </md-option>
                                <md-option value="bidder"> Bidder </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <label class="md-button md-raised md-primary" id="file">Change photo
                    <input type="file" name="file" accept="image/*"
                           onchange="angular.element(this).scope().change_photo()" ng-show="data.show.btn_edit"/>
                    </label>
                    <md-input-container class="md-block">
                        <label class="md-headline">Name and surname</label>
                        <input autofocus required ng-model="user.name" class="md-headline" ng-disabled="data.show.disable_input"
                               maxlength="30" md-maxlength="30" />
                        <div ng-messages="edit_form.name.$error" role="alert">
                            <div ng-message-exp="['required', 'maxlength']">
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label class="md-headline">Address</label>
                        <input class="md-headline" ng-model="user.address" ng-disabled="data.show.disable_input">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label class="md-headline">Phone</label>
                        <input ng-model="user.phone" class="md-headline" ng-disabled="data.show.disable_input"
                               maxlength="30" md-maxlength="30" ng-pattern="/^\d+$/"/>
                        <div ng-messages="edit_form.phone.$error" role="alert">
                            <div ng-message-exp="['maxlength','pattern']">
                            </div>
                        </div>
                    </md-input-container>
                    <md-button class="md-fab md-primary" ng-click="edit_mode(edit_form)" ng-show="data.show.btn_edit">
                        <md-icon ng-bind="data.btn_edit.icon"></md-icon>
                        <md-tooltip>{{data.btn_edit.tooltip}}</md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-primary" ng-click="update_password()" ng-show="data.show.btn_password">
                        <md-icon ng-bind="data.btn_password.icon"></md-icon>
                        <md-tooltip>{{data.btn_password.tooltip}}</md-tooltip>
                    </md-button>
                    <md-button class="md-fab" ng-click="openDeleteMode(user)" ng-show="data.show.btn_delete">
                        <md-icon ng-bind="'delete'"></md-icon>
                        <md-tooltip>Delete user</md-tooltip>
                    </md-button>
                </md-content>
            </form>
        </md-tab>
        <md-tab label="auctions">
            <md-content class="md-padding">
                <div>
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Search</label>
                            <input type="text" ng-model="search_auctions">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Sold</label>
                            <md-select ng-model="itemSold" md-selected-text="isSold()">
                                <md-optgroup label="Sold">
                                    <md-option value="{{sold_item.value}}" ng-repeat="sold_item in items_sold">{{sold_item.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-fab md-primary" href="#/auctions/add">
                            <md-icon ng-bind="'add'"></md-icon>
                            <md-tooltip>Add auction</md-tooltip>
                        </md-button>
                    </div>
                </div>
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th ng-repeat="td in auctions_head_items">
                            <md-button md-no-ink data-ng-click="sort(td.name,auctions_head_items)">
                                {{td.title}} <md-icon ng-bind={{"td.icon"}}></md-icon>
                            </md-button>
                        </th>
                        <th><md-icon ng-bind="'arrow_drop_down'"></md-icon></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="auction in auctions |orderBy:orderByHead |filter:search_auctions |filter:{item:{sold:itemSold}} ">
                        <td><md-button href={{"#/auctions/"+auction.id}}> {{auction.id}}</md-button></td>
                        <td><md-button class="md-raised md-primary users-email" href={{"#/items/"+auction.item.id}}>
                            {{auction.item.name}}
                        </md-button></td>
                        <td>{{auction.startDate}}</td>
                        <td>{{auction.endDate}}</td>
                        <td>{{auction.startPrice}}</td>
                        <td>{{auction.item.sold}}</td>
                        <td>
                            <md-button class="md-fab" ng-click="delete_auction(auction)" ng-show="data.show.btn_delete_auction">
                                <md-icon ng-bind="'delete'"></md-icon>
                                <md-tooltip>Delete auction</md-tooltip>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-content>
        </md-tab>
        <md-tab label="bids">
            <md-content class="md-padding">
                <h1 class="md-display-2">Bids</h1>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>