<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="info">
            <form name="edit_form">
                <md-content class="md-padding info_user">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label class="md-headline">ID</label>
                            <input class="md-headline" ng-model="user.id" disabled>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label class="md-headline">Email</label>
                            <input class="md-headline" ng-model="user.email" disabled>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label class="md-headline">Role</label>
                            <input class="md-headline" ng-model="user.role" disabled>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label class="md-headline">Name and surname</label>
                        <input autofocus required ng-model="user.name" class="md-headline" ng-disabled="data.show.disable_input"
                               maxlength="30" md-maxlength="30" />
                        <div ng-messages="edit_form.name.$error" role="alert">
                            <div ng-message-exp="['required', 'maxlength']">
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label class="md-headline">Address</label>
                        <input class="md-headline" ng-model="user.address" ng-disabled="data.show.disable_input">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label class="md-headline">Phone</label>
                        <input ng-model="user.phone" class="md-headline" ng-disabled="data.show.disable_input"
                               maxlength="30" md-maxlength="30" ng-pattern="/^\d+$/"/>
                        <div ng-messages="edit_form.phone.$error" role="alert">
                            <div ng-message-exp="['maxlength','pattern']">
                            </div>
                        </div>
                    </md-input-container>
                    <md-button class="md-fab md-primary" ng-click="edit_mode(edit_form)" ng-show="data.show.btn_edit">
                        <md-icon ng-bind="data.btn_edit.icon"></md-icon>
                        <md-tooltip>{{data.btn_edit.tooltip}}</md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-primary" ng-click="update_password()" ng-show="data.show.btn_password">
                        <md-icon ng-bind="data.btn_password.icon"></md-icon>
                        <md-tooltip>{{data.btn_password.tooltip}}</md-tooltip>
                    </md-button>
                    <md-button class="md-fab" ng-click="openDeleteMode(user)" ng-show="data.show.btn_delete">
                        <md-icon ng-bind="'delete'"></md-icon>
                        <md-tooltip>Delete user</md-tooltip>
                    </md-button>
                </md-content>
            </form>
        </md-tab>
        <md-tab label="auctions">
            <md-content class="md-padding">
                <h1 class="md-display-2">Auctions</h1>
            </md-content>
        </md-tab>
        <md-tab label="bids">
            <md-content class="md-padding">
                <h1 class="md-display-2">Bids</h1>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>