.users-email{
    text-transform: none;
}
.layout-gt-sm-row .md-block{
    margin-right: 5em;
}

/*dialog password*/

.dialog_password{
    margin: 5em;
}
.dialog_password .md-block{
    width: 35em;
}