<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="info">
            <form name="edit_form">
                <md-content class="md-padding info_user">
                    <div layout-gt-sm="row">
                        <img class="profile_image" ng-src="{{auction.item.picture}}">
                        <md-input-container class="md-block">
                            <label class="md-headline">ID</label>
                            <input class="md-headline" ng-model="auction.id" disabled>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label class="md-headline">Name</label>
                            <input ng-model="auction.item.name" class="md-headline" disabled />
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label class="md-headline">Descritpion</label>
                        <input class="md-headline" ng-model="auction.item.description" disabled>
                    </md-input-container>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label class="md-headline">Start date</label>
                            <input required class="md-headline" ng-model="auction.startDate" ng-disabled="data.show.disable_start_date"
                                    type="date">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label class="md-headline">End date</label>
                            <input class="md-headline" ng-model="auction.endDate" ng-disabled="data.show.disable_inputs"
                                   min="{{auction.startDate}}" type="date">
                            <div ng-messages="edit_form.endDate.$error" role="alert">
                                <div ng-message-exp="['min']">
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label class="md-headline">Start price</label>
                        <input class="md-headline" ng-model="auction.startPrice" ng-disabled="data.show.disable_inputs"
                               ng-pattern="/^\d+$/">
                        <div ng-messages="edit_form.startPrice.$error" role="alert">
                            <div ng-message-exp="['pattern']">
                            </div>
                        </div>
                    </md-input-container>
                    <md-switch ng-model="auction.item.sold" aria-label="Sold" disabled>
                        {{ auction.item.sold?"Sold":"Not sold" }}
                    </md-switch>
                    <md-button class="md-fab md-primary" ng-click="edit_mode(edit_form)" ng-show="data.show.btn_edit">
                        <md-icon ng-bind="data.btn_edit.icon"></md-icon>
                        <md-tooltip>{{data.btn_edit.tooltip}}</md-tooltip>
                    </md-button>
                    <md-button class="md-fab" ng-click="openDeleteMode(item)" ng-show="data.show.btn_delete">
                        <md-icon ng-bind="'delete'"></md-icon>
                        <md-tooltip>Delete auction</md-tooltip>
                    </md-button>
                </md-content>
            </form>
        </md-tab>
        <md-tab label="bids">
            <md-content class="md-padding">
                <div>
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Search</label>
                            <input type="text" ng-model="search_bids">
                        </md-input-container>
                    </div>
                </div>
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th ng-repeat="td in bids_head_items">
                            <md-button md-no-ink data-ng-click="sort(td.name,bids_head_items)">
                                {{td.title}} <md-icon ng-bind={{"td.icon"}}></md-icon>
                            </md-button>
                        </th>
                        <th><md-icon ng-bind="'arrow_drop_down'"></md-icon></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bid in bids |orderBy:orderByHead |filter:search_bids ">
                        <td><md-button href={{"#/bids/"+bid.id}} class="md-raised"
                                       style="background: gold"> {{bid.id}}</md-button></td>
                        <td><md-button class="md-raised md-primary none-decoration" href={{"#/users/"+bid.user.id}}>
                            {{bid.user.email}}
                        </md-button></td>
                        <td><md-button class="md-raised none-decoration"
                                       style="background: gold" href={{"#/items/"+bid.auction.item.id}}>
                            {{bid.auction.item.name}}
                        </md-button></td>
                        <td>{{bid.price}}</td>
                        <td>{{bid.dateTime}}</td>
                        <td>
                            <md-button class="md-fab" style="background: red" ng-click="delete_bid(bid)" ng-show="data.show.btn_delete_bid">
                                <md-icon ng-bind="'delete'"></md-icon>
                                <md-tooltip>Delete bid</md-tooltip>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>